<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Webpage Title -->
    <title>ONE PUNCH GO</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

  </head>
    <body>
            <!--------------------------------------------나라별 로그인 박스--------------------------------------------------->
    <form method="post" id="authForm" action="싱가폴 로그인 주소">
      <!--------------------------------------------나라별 value 값--------------------------------------------------->
      <input type="hidden" name="redirectUrl" value="https://blogpack.tistory.com/manage">
      <fieldset>
        <legend class="screen_out">로그인 정보 입력폼</legend>
        <div class="box_login">
          <div class="inp_text">
            <label for="loginId1" class="screen_out">아이디</label>
            <input type="email" id="loginId1" name="loginId" placeholder="ID">
          </div>
          <div class="inp_text">
            <label for="loginPw" class="screen_out">비밀번호</label>
            <input type="password" id="loginPw" name="password" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="btn_login" disabled>로그인</button>
        <div class="login_append">
          <div class="inp_chk"> <!-- 체크시 checked 추가 -->
            <input type="checkbox" id="keepLogin" class="inp_radio" name="keepLogin">
            <label for="keepLogin" class="lab_g">
              <span class="img_top ico_check"></span>
              <span class="txt_lab">로그인 상태 유지</span>
            </label>
      </fieldset>
    </form>



    </body>
</html>